<h3>詳細ページ</h3>
<div class="posted-content">
  <%= image_tag @post.images[0], class: "main-image" %><br>
  <div class="other-images">
    <% @post.images[1..-1].each do |image| %>
      <div class="other-image">
        <%= image_tag image %>
      </div>
    <%end%>
  </div>
  <%= @post.text%><br>
  <%= link_to '編集', edit_post_path(@post.id)%>
</div>
